$colorPrimario:grey;

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html , body , #root {
    height: 100vh;
}
main {
    flex-grow: 1;
}

#root {
    display: flex;
    flex-direction: column;
}

#main-header {
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#header-container{
    
    align-items: center;
    justify-content: space-between;
}

footer {
    background-color: $colorPrimario;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.8em;
}

.card{
    margin: 6px;
    display: inline-block;
}

#botoncentrado{
    display:flex;
    justify-content:center;
    margin-top: 16px;
    
}
#centro{
    flex-grow: 1;
}
#carrito{
    padding-top: 6px;
}